@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

:root {
  --primary-color: #4A6CF7;
  --secondary-color: #6B7AFA;
  --background-color: #F4F7FF;
  --text-color: #333;
  --white: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--background-color);
  /* display: flex; */
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  line-height: 1.6;
}
